/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
.heading{
	text-align: center;
}
.playlist{
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	width: 90vh;
	margin-left: 50px;
}
a{
	text-decoration-line: none;
}
li{
	list-style-type: none;
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding: 50px;
	border: 2px solid black;
	border-radius: 10px;
}
video{
	height: 300px;
	width: 500px;
}